OLLAMA_BASE_URL=http://ollama:11434
OLLAMA_MODEL_NAME=hf.co/google/gemma-2b-it

EMBEDDING_MODEL_NAME=hf.co/Snowflake/snowflake-arctic-embed-m-v1.5:BF16
EMBEDDING_QUERY_PREFIX="Represent this sentence for searching relevant passages: "

CHUNK_SIZE=400
CHUNK_OVERLAP=50
BM25_STEM=1
BM25_REMOVE_STOPWORDS=0

TOP_K=5

RRF_K=60
HYBRID_CANDIDATE_MULTIPLIER=4
